@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Just+Another+Hand&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #252839;
  color: white;
}

#home-link {
  text-align: left;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.projects-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem 0;
}

#project1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: fuchsia;
  padding: 2rem;
}

#box1 {
  width: 150px;
  height: 150px;
  margin: 0;
  background-color: lavenderblush;
  /* animation-name: moving;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; 
  animation-delay: 1s */
  /* shorthand notation: */
  /* these can go in any order, with one exception, duration must always be shown before the delay */
  animation: moving 3s both infinite alternate-reverse 1s;
}

@keyframes moving {
  0% {
    transform: translateX(-500px);
  }
  10% {
    transform: translateX(500px);
  }
  100% {
    transform: translate(-500px, 0);
  }
}

#project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #770303;
}

#project2 h2 {
  margin-bottom: 9rem;
}

#box2 ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 10px solid white;
}

#box2 ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  animation: jumping 0.8s linear infinite;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

#box2 ul li:nth-child(1) {
  animation-delay: 0.45s;
}

#box2 ul li:nth-child(2) {
  animation-delay: 0.6s;
}

#box2 ul li:nth-child(3) {
  animation-delay: 0.3s;
}

#box2 ul li:nth-child(4) {
  animation-delay: 0s;
}

#box2 ul li:nth-child(5) {
  animation-delay: 0.15s;
}


#project3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #77036f;
  padding-bottom: 2rem;
}

#project3 h2 {
  margin-bottom: 2rem;
}

#box3 {
  display: flex;
  border-top: 10px solid white;
}

#box3 span {
  display: block;
  width: 3px;
  height: 300px;
  background-color: white;
  margin: 0 29px;
  position: relative;
  transform-origin: top;
}

#box3 span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-50%);
}

#box3 span:first-child {
  animation: leftArm 2s ease-in infinite;
}

#box3 span:last-child {
  animation: rightArm 2s ease-in infinite 1s;
}

@keyframes leftArm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  } 
}

@keyframes rightArm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#project4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: plum;
  padding-bottom: 2rem;
}

#glasses {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: #222;
  gap: 40px;
  padding: 0 4rem;
  border-radius: 25px;
}

.glass {
  position: relative;
}

.glass:nth-child(2) .glass-liquid {
  background: #e0bd1f;
  animation-delay: 2.5s;
}

.glass:nth-child(2) .glass-liquid:before {
  background: #bb9e1b;
}

.glass-inner {
  position: relative;
  width: 200px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  border: 8px solid transparent;
}

.glass-inner:before {
  content: "";
  position: absolute;
  width: 175px;
  height: 30px;
  border: 10px solid #444;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  box-shadow: 0 15px 0 #222;
}

.glass-inner:after {
  content: "";
  position: absolute;
  top: 70px;
  left: 30px;
  width: 50px;
  height: 250px;
  background: rgba(255, 255, 255, 0.1);
}

.glass-liquid {
  position: absolute;
  top: 50px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #41c1fb;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  animation: animateLiquid 5s linear infinite;
}

.glass-liquid:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  background: #1fa4e0;
  top: -10px;
}

@keyframes animateLiquid {
  0%, 20% {
    top: 50px;
  }
  50%, 70% {
    top: 320px;
  }
  100% {
    top: 50px;
  }
}

#project5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1c1f2f;
  padding-bottom: 2rem;
  overflow: hidden;
}

#project5 h2 {
  margin-bottom: 8rem;
}

#loader5 {
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 1;
  animation: rotateSemiCircle 4s ease-in-out infinite;
}

#loader5:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background: #06c8f0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  bottom: 0;
}

@keyframes rotateSemiCircle {
  0% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

#project5-container {
  position: relative;
  transform: translateY(-100px);
}


#project5-container:before {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 50%;
  top: 200px;
  animation: animateMiddleCircle 4s ease-in-out infinite;
}

@keyframes animateMiddleCircle {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(15px);
  }
}

#project5-container:after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  background: #fe4e4e;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 400px;
}

#ball5 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-100%) translateX(-40px);
  animation: animateBall 4s ease-in-out infinite;
}

@keyframes animateBall {
  0% {
    transform: translateY(-100%) translateX(-40px);
  }
  50% {
    transform: translateY(-100%) translateX(200px);
  }
  100% {
    transform: translateY(-100%) translateX(-40px);
  }
}

#project6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: #00e1ffaa;
  padding-bottom: 2rem;
  overflow: hidden;
}

#project6 h2 {
  color: steelblue;
  text-shadow: 0 2px 0 white;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

#project6-container {
  position: relative;
  height: 400px;
  width: 320px;
  border-bottom: 3px solid white;
}

#cloud {
  position: relative;
  height: 100px;
  width: 100%;
  top: 50px;
  background: white;
  border-radius: 100px;
}

#cloud:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: white;
  top: -50px;
  left: 40px;
  box-shadow: 90px 0 0 30px white;
}

#snow {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#snow span {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 0 2px;
  animation: snowing 5s linear infinite;
  transform-origin: bottom;
  animation-duration: calc(15s / var(--seconds));
}

@keyframes snowing {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(288px) scale(1);
  }
  100% {
    transform: translateY(288px) scale(0);
  }
}


