@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Just+Another+Hand&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #252839;
  color: white;
}

#home-link {
  text-align: left;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

.projects-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem 0;
}

/* Box1 - Loading Animated Square */

#box1 {
  background: #26de81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  perspective: 200px;
}

#box1 h2 {
  color: white;
}

#loader1 {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 12px;
  animation: loading1 2s linear infinite;
}

@keyframes loading1 {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(180deg) rotateY(180deg);
    }
}

/* Box2 - Stretching Text with Color Changes  */

#box2 {
  background: #838bbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

#box2 h2 {
  color: white;
}

#loader2-ul {
  margin: 0;
  padding: 0;
  display: flex;
}

#loader2-ul li {
  list-style: none;
  font-size: 80px;
  letter-spacing: 20px;
  animation: loadingStretch 3s linear infinite;
}

@keyframes loadingStretch {
  0% {
    color: red;
    transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: blue;
    transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

#loader2-ul li:nth-child(1) {
  animation-delay: 0s;
}

#loader2-ul li:nth-child(2) {
  animation-delay: 0.2s;
}

#loader2-ul li:nth-child(3) {
  animation-delay: 0.4s;
}

#loader2-ul li:nth-child(4) {
  animation-delay: 0.6s;
}

#loader2-ul li:nth-child(5) {
  animation-delay: 0.8s;
}

#loader2-ul li:nth-child(6) {
  animation-delay: 1s;
}

#loader2-ul li:nth-child(7) {
  animation-delay: 1.2s;
}

/* Box3 - Stretching Text with Color Changes  */

#box3 {
  background: #fe02d0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box3 h2 {
  color: white;
  margin-bottom: 3rem;
}

#loader3 {
  width: 100px;
  height: 100px;
  position: relative;
  animation: expandContainer 1s linear infinite;
  transform: rotate(45deg);
}

#loader3 span {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotateSquare 1s linear infinite;
}

#loader3 span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #FCEBA7;
}

#loader3 span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: #55DDB9;
}

#loader3 span:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: #FD6C64;
}

#loader3 span:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: #1F7880;
}

@keyframes expandContainer {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes rotateSquare {
  0% {
   transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
  
}

/* Box4 - Stretching Text with Color Changes  */

#box4 {
  background: #3c2ccd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box4 h2 {
  color: white;
  margin-bottom: 3rem;
}

#loader4 {
  width: 150px;
  height: 150px;
  position: relative;
}

#loader4 span {
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 4px;
  animation: chase 2s linear infinite;
}

#loader4 span:nth-child(2) {
  background-color: #252839;
  animation-delay: 0.7s;
}

#loader4 span:nth-child(3) {
  background-color: #FD6C64;
  animation-delay: 1.4s;
}

@keyframes chase {
  0% { top: 0; left: 0; }
  12.5% { top: 0; left: 50%; }
  25% { top: 0; left: 50%; }
  37.5% { top: 50%; left: 50%; }
  50% { top: 50%; left: 50%; }
  62.5% { top: 50%; left: 0; }
  75% { top: 50%; left: 0; }
  87.5% { top: 0; left: 0; }
  100% { top: 0; left: 0; }

}

/* Box5 - Stretching Text with Color Changes  */

#box5 {
  background: #2d1722;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box5 h2 {
  color: white;
  margin-bottom: 3rem;
}

#loader5 h3 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: white;
  position: relative;
  animation: highlight-text 5s linear infinite;
}

#loader5 h3:before {
  content: "loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #f6b93b;
  overflow: hidden;
  border-right: 4px solid #f6b93b;
} 

@keyframes highlight-text {
  0% { width: 0; }
  50% { width: 100%; }
  100% {width: 0; }
}

/* Box6 - Animated Circle Loader  */

#box6 {
  background: #1c504b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box6 h2 {
  color: white;
  margin-bottom: 3rem;
}

#loader6 {
  position: relative;
  width: 200px;
  height: 200px;
}

#ring {
  width: 100%;
  height: 100%;
  border-left: 4px solid #262626;
  border-radius: 50%;
  animation: rotateRing 1s linear infinite;
}

#text6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
}

@keyframes rotateRing {
  0% { transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}

/* Box7 - Animated Line Loader  */

#box7 {
  background: #17cdbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#loader7 {
  width: 300px;
  height: 3px;
  background-color: white;
  animation: lineLoader 2s infinite alternate;
}

@keyframes lineLoader {
  0% { 
    transform: scaleX(0);
    transform-origin: left;
  }
  45% { 
    transform: scaleX(1);
    transform-origin: left;
  }
  50% { 
    transform: scaleX(1);
    transform-origin: right;
  }
  100% { 
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* Box8 - Growing Lines Loader  */

#box8 {
  background: #f4b806;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#loader8 {
  display: flex;
}

.obj8 {
  width: 6px;
  height: 40px;
  background-color: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: lineGrow 0.8s linear infinite;
}

@keyframes lineGrow {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.obj8:nth-child(2) {
  animation-delay: 0.1s;
}

.obj8:nth-child(3) {
  animation-delay: 0.2s;
}
.obj8:nth-child(4) {
  animation-delay: 0.3s;
}
.obj8:nth-child(5) {
  animation-delay: 0.4s;
}
.obj8:nth-child(6) {
  animation-delay: 0.5s;
}
.obj8:nth-child(7) {
  animation-delay: 0.6s;
}
.obj8:nth-child(8) {
  animation-delay: 0.7s;
}

/* Box9 - Rotating Rings Loader */

#box9 {
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box9 h2 {
  color: white;
}

#loader9 {
  width: 200px;
  height: 200px;
  position: relative;
}

#outer9 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px solid #eb4d4b;
  border-right: 5px solid #eb4d4b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotateRings 1s linear infinite;
}

#middle9 {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-left: 5px solid #218c74;
  border-right: 5px solid #218c74;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotateRings 1s linear infinite reverse;
}

#inner9 {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  border-left: 5px solid #ccae62;
  border-right: 5px solid #ccae62;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotateRings 1s linear infinite;
}

#dot9 {
  position: absolute;
  top: 90px;
  left: 90px;
  right: 90px;
  bottom: 90px;
  background-color: white;
  border-radius: 50%;
}

@keyframes rotateRings {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Box10 - Fading Squares */

#box10 {
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box10 h2 {
  color: white;
}

#loader10 {
  position: relative;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#loader10 span {
  width: 30px;
  height: 30px;
  position: relative;
}

#loader10 span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: squaresLoader 1s linear infinite;
}

@keyframes squaresLoader {
  0% { width: 100%; height: 100%; }
  100% { width: 0; height: 0;}
}

#loader10 #s4:before,
#loader10 #s5:before,
#loader10 #s6:before {
  animation-delay: 0.1s;
}

#loader10 #s7:before,
#loader10 #s8:before,
#loader10 #s9:before {
  animation-delay: 0.2s;
}

/* Box8 - Growing Lines Loader  */

#box11 {
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 18rem;
}

#box11 h2 {
  color: white;
}

#loader11 {
  display: flex;
  width: 70px;
}

#loader11 span {
  width: 10px;
  height: 60px;
  background-color: white;
  margin: 0 1px;
  border-radius: 10px;
  animation: lineGrow2 0.8s ease-in-out infinite;
}

@keyframes lineGrow2 {
  0% {
    transform: scaleY(0.1);
  }
  35% {
    transform: scaleY(1);
  }
  60%, 100% {
    transform: scaleY(0.1);
  }
}

#loader11 span:nth-child(1) {
  background-color: #2eeca8;
  animation-delay: 0.2s;
}

#loader11 span:nth-child(2) {
  background-color: #eade3d;
  animation-delay: 0.3s;
}

#loader11 span:nth-child(3) {
  background-color: #55acee;
  animation-delay: 0.4s;
}
#loader11 span:nth-child(4) {
  background-color: #ec902e;
  animation-delay: 0.5s;
}
#loader11 span:nth-child(5) {
  background-color: #09b7bf;
  animation-delay: 0.6s;
}
#loader11 span:nth-child(6) {
  background-color: #ea3d8c;
  animation-delay: 0.7s;
}
