html {
    font-family: sans-serif;
  }
  
  body {
    background-color: slateblue;
    text-align: center;
    z-index: 0;
  }
  
  #home-link {
    color: white;
    text-align: left;
  }
  
  h1 {
    color: white;
  }
  
  .menus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
    z-index: 0;
    margin: 1rem 0;
    padding: 2rem 0;
  }

  .menus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
    z-index: 0;
    margin: 1rem 0;
    padding: 2rem 0;
  }
  