@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Just+Another+Hand&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #252839;
  color: white;
}

#home-link {
  text-align: left;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

.projects-container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem 0;
}

/* Project 1: Smoky Text Effect on Hover */
#project-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  padding: 4rem;
}

#project-container1 h2 {
  color: lightblue;
}

#project-container1 ul {
  margin: 0;
  padding: 0;
  display: flex;
}

#project-container1 ul li {
  list-style: none;
  color: white;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  transition: 2s;
}

#project-container1 ul:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}

#project-container1 ul li:nth-child(1) {
  transition-delay: 0;
}

#project-container1 ul li:nth-child(2) {
  transition-delay: 0.4s;
}

#project-container1 ul li:nth-child(3) {
  transition-delay: 0.8s;
}

#project-container1 ul li:nth-child(4) {
  transition-delay: 1.2s;
}

#project-container1 ul li:nth-child(5) {
  transition-delay: 1.6s;
}

/* Project 2: Text Fill Effect on Hover */
#project-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 4rem;
}

#project-container2 h2 {
  color: midnightblue;
}

#project-container2 h3 {
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: #ccc;
  text-transform: uppercase;
  position: relative;
}

#project-container2 h3:before {
  content: "text";
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
}

#project-container2 h3:hover:before {
  width: 100%;
}

/* Project 3: Social Media Icons Fill Effect on Hover */
#project-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dfe6e9;
  padding: 4rem;
}

#project-container3 h2 {
  color: #10ac84;
}

#social-media-div {
  display: flex;
  text-align: center;
}

.social-media-icon {
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  color: #10ac84;
  box-shadow: 0 5px 15px -5px #00000070;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.social-media-icon i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  transition: all 0.2s;
  position: absolute;
}

.social-media-icon:hover i {
  transform: scale(1.3) translate(-35%, -35%);
  color: #f1f1f1;
}

.social-media-icon:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #10ac84;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.social-media-icon:hover:before {
  animation: iconFill 0.7s 1 forwards;
}

@keyframes iconFill {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

/* Project 4: Rotated Border Effect on Hover */
#project-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 253, 229);
  padding: 4rem;
}

#project-container4 h2 {
  color: #58c747;
  margin-bottom: 4rem;
}

#project4-box {
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color: yellow;
}

#project4-box h3 {
  margin: 0;
  padding: 0;
  color: #272727;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

#project4-box h3 span {
  color: #58c747;
  font-size: 30px;
}

#project4-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

#project4-box:hover:before {
  transform: scaleX(1);
}

#project4-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid #58c747;
  border-left: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

#project4-box:hover:after {
  transform: scaleY(1);
  transition-delay: 0.5s;
}

#project4-rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: yellow;
  transform: rotate(45deg);
  box-sizing: border-box;
}

#project4-rotated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

#project4-box:hover #project4-rotated:before {
  transform: scaleX(1);
  transition-delay: 1s;
}

#project4-rotated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 4px solid #58c747;
  border-left: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

#project4-box:hover #project4-rotated:after {
  transform: scaleY(1);
  transition-delay: 1.5s;
}

/* Project 5: Open Close Transition on Hover */
#project-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9b59b6;
  padding: 4rem;
  overflow: hidden;
}

#project-container5 h2 {
  color: white;
}

#project5-box {
  font-family: "Just Another Hand";
}

#project5-box ul {
  margin: 0;
  padding: 0;
  font-size: 10em;
  display: flex;
  color: white;
  cursor: pointer;
}

#project5-box ul li {
  list-style: none;
  transition: 0.5s;
}

#project5-box ul:hover li {
  transform: rotate(180deg);
}

#project5-box ul:hover li:last-child {
  transition-delay: 0.5s;
}

#project5-box ul li span {
  transition: 0.5s;
  display: inline-block;
}

#project5-box ul:hover li:last-child span:nth-child(2) {
  transform: rotate(180deg) translateY(-25px);
  transition-delay: 1s;
}

#project5-box ul:hover li:last-child span:nth-child(1) {
  transform: rotate(90deg) translateY(10px);
  transition-delay: 1.5s;
}

/* Project 6: Focus Blur Effect */
#project-container6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6c59b6;
  padding: 4rem;
  overflow: hidden;
}

#project-container6 h2 {
  color: white;
}

#project6-box {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#project6-box img {
  position: absolute;
  width: 140%;
  height: 140%;
  top: -20%;
  left: -20%;
  filter: blur(10px);
  transition: 2s;
}

#project6-box h3 {
  position: relative;
  color: white;
  font-size: 7em;
  text-transform: uppercase;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  z-index: 2;
  transition: 2s;
}

#project6-box h3:hover {
  filter: blur(10px);
  transform: scale(1.2);
}

#project6-box h3:hover ~ img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0px);
}

/* Project 7: Single Letter Focus on Hover */
#project-container7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  padding: 4rem;
}

#project-container7 h2 {
  color: white;
}

#project7-box {
  font-family: monospace;
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0082ce, #ffd000);
}

#project7-box h3 {
  position: relative;
  display: flex;
  gap: 15px;
  color: white;
  font-size: 4em;
  cursor: pointer;
  text-transform: uppercase;
}

#project7-box h3 span {
  position: relative;
  filter: blur(5px);
  transition: 0.5s;
}

#project7-box h3 span:hover {
  filter: blur(0);
  transition: 0s;
}

.letter::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: white;
  top: 0;
  left: -5px;
  box-shadow: 0 53px #fff, 37px 53px #fff, 36px 0px #fff;
  opacity: 0;
}

.letter::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: white;
  top: 0;
  left: -5px;
  box-shadow: 0 60px #fff, 30px 60px #fff, 30px 0px #fff;
  opacity: 0;
}

#project7-box h3 span:hover i:before,
#project7-box h3 span:hover i:after {
  opacity: 1;
}

/* Project 8: Floating Text */
#project-container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #26de81;
  padding: 4rem;
}

#project-container8 h2 {
  color: white;
}

#project8-box h3 {
  text-align: center;
  color: white;
  font-family: arial;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
    0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
  animation: float 3s linear infinite;
  animation-direction: alternate;
}

@keyframes float {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* Project 9: Text Rotator*/
#project-container9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  width: 60vw;
  padding: 4rem;
}

#project-container9 h2 {
  color: white;
}

#project9-box h3 {
  color: white;
  font-size: 50px;
}

#project9-box span:before {
  content: "TRANSITIONS";
  text-transform: uppercase;
  font-family: arial;
  color: #1b1464;
  animation: word-switch 5s infinite;
}

@keyframes word-switch {
  0% {
    content: "transitions";
  }
  50% {
    content: "animations";
  }
  100% {
    content: "transforms";
  }
}

/* Project 10: Lighting Text */
#project-container10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 60vw;
  padding: 4rem;
}

#project-container10 h2 {
  color: white;
}

#project10-box ul {
  margin: 0;
  padding: 0;
  display: flex;
}

#project10-box ul li {
  list-style: none;
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  animation: lightingText 1.4s linear infinite;
}

@keyframes lightingText {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 0 50px #ff6c00;
  }
}

#project10-box ul li:nth-child(1) {
  animation-delay: 0;
}

#project10-box ul li:nth-child(2) {
  animation-delay: 0.1s;
}
#project10-box ul li:nth-child(3) {
  animation-delay: 0.2s;
}
#project10-box ul li:nth-child(4) {
  animation-delay: 0.3s;
}
#project10-box ul li:nth-child(5) {
  animation-delay: 0.4s;
}
#project10-box ul li:nth-child(6) {
  animation-delay: 0.5s;
}
#project10-box ul li:nth-child(7) {
  animation-delay: 0.6s;
}
#project10-box ul li:nth-child(8) {
  animation-delay: 0.7s;
}

/* Project 11: Animated Text Background*/
#project-container11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #273c75;
  width: 60vw;
  padding: 4rem;
}

#project-container11 h2 {
  color: white;
}

#project11-box h3 {
  color: white;
  font-size: 150px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  background: url(../images/textbackground.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textbackground 20s linear infinite;
}

@keyframes textbackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

/* Project 12: Fading Text Effect */
#project-container12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #9a0e0e;
  width: 60vw;
  padding: 4rem;
}

#project12-box h3 {
  position: relative;
  color: white;
  font-size: 3.7em;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

#project12-box h3:before {
  content: "";
  position: absolute;
  left: 0;
  width: 120%;
  height: 100%;
  background: #9a0e0e;
  animation: fadeText 10s linear infinite;
}

@keyframes fadeText {
  0% {
    left: -20%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: -20%;
  }
}

/* Project 13: Neon Text Reveal */
#project-container13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #061b31;
  padding: 2rem;
  overflow: hidden;
  
}

#project13-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 150px;
  position: relative;
}

#project-container13 h3 {
  color: white;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 20px #00b3ff,
    0 0 80px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  margin: 0;
}

#lightbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #00b3ff, 0 0 10px #00b3ff, 0 0 20px #00b3ff,
  0 0 80px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
  animation: lightbar 5s linear infinite;
  z-index: 2;
}

#toplayer {
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 300px;
  background:  #061b31;
  animation: toplayer 10s linear infinite;
}

@keyframes lightbar {
  0% {
    transform: scaleY(0) translateX(0);
  }
  10% {
    transform: scaleY(1) translateX(0);
  }
  90% {
    transform: scaleY(1) translateX(calc(600px - 10px));
  }
  100% {
    transform: scaleY(0) translateX(calc(600px - 10px));
  }
}

@keyframes toplayer {
  5% {
    transform: translateX(0);
  }
  45%,
  50% {
    transform: translateX(100%);
  }
  50.0001%,
  55% {
    transform: translateX(-100%);
  }
  95% {
    transform: translateX(0);
  }
}
